<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-adsense-account" content="ca-pub-9012797421587847">
    <meta charset="UTF-8">
    <title>Gallery Slider | Neekit Shrestha</title>
    <link rel="icon" href=".././icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/photo.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9012797421587847"
     crossorigin="anonymous"></script>
</head>
<body>

<div class="stage">
    <div class="container">
        <div class="ring">

            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>



        </div>
    </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
<script src="./script.js"  type="module"></script>
</body>
</html>
