<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Video</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<video autoplay muted loop class="video-bg">
<source src="../SZRC0060.MP4" type="video/mp4">
Your browser does not support the video tag.
</video>
    <div>
    <p class="viewsCount" id="viewsCount">Views: 0</p>
</div>

<script>
    // Function to retrieve views count from local storage or set to 0 if not found
    function getViewsCount() {
        return localStorage.getItem('viewsCount') || 789;
    }

    // Function to increment views count and update it on the page
    function incrementViewsCount() {
        var viewsCount = parseInt(getViewsCount());
        viewsCount++;
        localStorage.setItem('viewsCount', viewsCount);
        document.getElementById('viewsCount').textContent = 'Views: ' + viewsCount;
    }

    // Call incrementViewsCount when the page loads
    window.onload = incrementViewsCount;
</script>
</body>
</html>
